@model IEnumerable<_20GRPED.MVC1.A06.CrudProduct.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Details">
    <h2>Search by Id</h2>
    <div class="form-group">
        <label class="control-label"></label>
        <input name="Id" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Search by Id" class="btn btn-primary" />
    </div>
</form>

<form asp-action="SearchByName">
    <h2>Search by Name</h2>
    <div class="form-group">
        <label class="control-label"></label>
        <input name="name" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Search by name" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item) |
                    @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
